* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/bgimg3.png);
  padding: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.to-do-app {
  width: 100%;
  max-width: 540px;
  background: white;
  opacity: 10p;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.to-do-app h2 {
  color: #2356b4;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.to-do-app h2 img {
  width: 40px;
  margin: 10px 10px 10px 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0eeed;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 10px;
  color: #2356b4;
}

input::placeholder {
  color: #2356b4;
  font-size: 13px;
}

button {
  border: none;
  outline: none;
  padding: 16px 30px;
  background: #3ccaaf;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 40px;
}

#btn-hover:hover {
  background: #3ccaaf;
  opacity: 0.7;
}

ul li {
  position: relative;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  color: #2356b4;
}

ul li::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-image: url(/assets/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(/assets/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: 300;
}

ul li span:hover {
  background: #edeef0;
}

/* Primary Dark #1A2F63
Primary #2356B4 
Primary Light #42B7E9
Secondary #3CCAAF */
